@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to Chaser's Food Pantry</h1>
    <p class="lead">We are committed to providing our community with the necessary resources to manage inventory and student data efficiently and effectively. Explore our system to find out how we can help you streamline your operations.</p>
    <hr class="my-4">
    <p>Use the navigation bar to access different sections of the system.</p>
</div>
